.container {
  width: min(calc(100% - 40px), var(--container-max));
  margin: 0 auto;
  box-sizing: border-box;
}

.section-block {
  padding: 88px 0;
}

@media (max-width: 720px) {
  .container {
    width: min(calc(100% - 40px), var(--container-max));
  }

  .section-block {
    padding: 40px 0;
  }
}
